#root {
  margin-top: -35px;
  margin-left: 70px;
  text-align: center;
  color: whitesmoke;
}
body {
  background-color: #111;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  
}
@keyframes fiery-glow {
  0% {
      text-shadow: 0 0 10px #ff0000, 0 0 15px #ff6a00, 0 0 20px #ffcc00, 0 0 20px #ffeb3b, 0 0 25px #ffc107, 0 0 25px #ff9800, 0 0 30px #ff5722;
  }
  100% {
      text-shadow: 0px 0 10px #ff0000, 15px 0 15px #ff6a00, 15px 0 20px #ffcc00, 20px 0 25px #ffeb3b, 25px 0 25px #ffc107, 20px 0 20px #ff9800, 25px 0 25px #ff5722;
  }
}

h1{
  font-family: 'Impact', sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  padding-top: 30px;
  margin-left: 90px;
  width: 100%;
  padding-bottom: 30px;
  
  animation: fiery-glow 5s linear infinite alternate;
  background-color: #030000;
}

 main{
  margin-left: 160px;
  margin-right: 20px;
 }

.button {
  color: red;
  border: 2px solid green
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #110808; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidebar .social-box {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 60px;
  
}
.sidebar footer{

  position: absolute;
  bottom: 30px;
  width: 100%;

}
.sidebar .socials {
  font-size: 10px;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.signup-stack {
  display:contents;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  
}
.signup-stack:nth-child(1){
  position: absolute;
}
.signup-stack:nth-child(2){
  position: absolute;
}
.signup-stack:nth-child(3){
  position: absolute;
}
.signup {
  margin: 10px;
}
.taken{
  color: red;
}
.tandc {
  display: block;
  padding-top: 60px;
  ;
}

.socials{
  font-size: 10px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: yellow;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

h1 {
  width: 100%;
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
  top: 0;
  z-index: 1000;
}
.stock_form {
  margin-top: 15px;
}



table {
  border: 2px black solid;
  width: 100%;
}

th{
  background-color: #7e7878;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #ddd;
}
td {
  padding: 8px;
  border-bottom: 1px solid #7e7878;
}
tr:nth-child(even) {
  background-color: #7e7878;
}
tr:hover {
  background-color: #3b2d2d;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: red;
  background-color: rgb(44, 37, 37);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#convertForm{
  overflow: auto;
  justify-self: auto;
}
.calc_submit{
  margin-left: 15px;
  margin-bottom: 20px;
}
button {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff6a00, 0 0 15px #ffcc00, 0 0 10px #ffeb3b, 0 0 15px #ffc107, 0 0 20px #ff9800, 0 0 20px #ff5722;

}
.logout {
  margin-top: 10px;
}

.updates-box{
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px black solid;
}
 .login-stack {
  margin: 10px;
 }
 
footer {
  background: linear-gradient(to right, #ff0000, #ff6a00, #ffcc00, #ffeb3b, #ffc107, #ff9800, #ff5722);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}